# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator local machine specific files for imported projects
*creator.user*

# Build directory
/build/
/debug/
/release/
/vcpkg/
/bin/

# Visual Studio
.vs/
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
ipch/
x64/
x86/
*.vsp
*.psess
*.suo
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Log files
*.log
hyper-player-log.txt

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# CMake files
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# IDEs
.idea/
.vscode/
*.swp
*.swo

# macOS
.AppleDouble
.LSOverride

# Windows
Desktop.ini
$RECYCLE.BIN/

# Binaries and libraries
*.exe
*.out
*.app 

\
\\